#!/bin/bash

# Decode base64-encoded values from mounted secret
ROOT_PASSWORD=$(echo "UmV6QHVsMTIz" | base64 -d)
DATABASE=$(echo "c3R1ZGVudGRi" | base64 -d)
USER=$(echo "cmV6YXVs" | base64 -d)
PASSWORD=$(echo "UmV6QHVsMTIz" | base64 -d)

# Start MySQL server
/usr/sbin/mysqld --initialize-insecure

# Start MySQL service
/usr/sbin/service mysql start

# Wait for MySQL to start
sleep 10s

# Run MySQL initialization commands
mysql -uroot -e "CREATE DATABASE IF NOT EXISTS $DATABASE;"
mysql -uroot -e "CREATE USER IF NOT EXISTS '$USER'@'%' IDENTIFIED BY '$PASSWORD';"
mysql -uroot -e "GRANT ALL PRIVILEGES ON $DATABASE.* TO '$USER'@'%';"

# Stop MySQL service
/usr/sbin/service mysql stop

# Start MySQL service in normal mode
/usr/sbin/service mysql start

# Tail the MySQL log file
tail -f /var/log/mysql/error.log

